* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('./assets/cursor.png'), auto;
}

body {
    background-color: black;
}

#canvas1 {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    font-family: 'Love Ya Like A Sister', cursive;
}
/* icon */
#firedogHead, 
/* menu images */ 
#mainmenubackground, #mainmenubackgroundhowtoplay, #skinStage,
/* stars sticker */ 
#greenBand, #blankStarLeft, #blankStarMiddle, #blankStarRight, #filledStarLeft, #filledStarMiddle, #filledStarRight, #storyCompleteText,
/* enemy lore images */ 
#enemyLoreBookBackground, #enemyLoreLeftPageBackground, #enemyLoreRightPageBackground, #blackLine, 
    /* forest images */ 
    #forestmap, #forestmapNight, #forestmapFiredog, #forestmapHatFiredog, #forestmapCholoFiredog, #forestmapZabkaFiredog, #forestmapFiredogShiny, 
    /* saving images */ 
    #savingAnimation, #savingBookAnimation, #deleteProgressAnimation, #deleteProgressBookAnimation,  
/* how to play */ 
#keycap, #enterKeycap, #shiftKeycap, #leftClick, #rightClick, #scrollWheelClick, #mouseButton4Click, 
#firedogSitting,  #firedogRolling, #firedogStanding, #firedogDiving, #firedogRunning, #firedogJumping, #firedogDashing1, #firedogStunned, #firedogHit, #firedogFrozen,
/* ability UI */
#fireballUI, #fireballRedPotionUI, #divingUI, #dashingUI, #invisibleUI,
/* entities */
    /* firedog */
    #defaultSkin, #hatSkin, #choloSkin, #zabkaSkin, #shinySkin, 
        /* firedog animations */ 
        #dust_black, #ice_crystal, #fire, #fireball, #redPotionFireball, #bluefire, #bubble, #bluebubble, #frozenIce, 
    /* penguin */
    #penguinBatSprite, #penguinPistolSprite, #penguinDead,
    /* enemies */
        /* elyvorg */
        #elyvorgIdle, #elyvorgLaserIdle, #elyvorgGravityIdle, #elyvorgMeteorIdle, #elyvorgPoisonIdle, #elyvorgPistolIdle, #elyvorgGhostIdle, #elyvorgInkIdle, #elyvorgIdleFireball, #elyvorgRechargeIdle, #elyvorgRun, #elyvorgJump, #elyvorgThunderIdle, 
            /* abilities */
            #barrier, #barrier1, #barrier2, #elyvorgGhostRun, #elyvorg_laser_beam, #meteorAttack, #poisonDrop, #electricWheel, #gravitationalAura, #inkBomb, #purpleFireball, #purpleSlash, #purpleThunder, #blueArrow, #yellowArrow, #greenArrow, #cyanArrow,
        /* glacikal */
        #glacikalIdle, #glacikalRunning, #glacikalJumping, #glacikalAttacking, #glacikalIcyStorm, #glacikalKneelDown, #glacikalExtendedArm, #glacikalRecharge,
            /* abilities */
            #iceTrail, #icyStormBall, #iceSlash, #spinningIceBalls, #pointyIcicleShard, #iceSpider, #undergroundIcicle,
        /* ntharax */
        #ntharaxIdle, #ntharaxRun, #ntharaxJump, #ntharaxDive, #ntharaxBall, #ntharaxWing, #ntharaxKneel, #ntharaxYellow, #ntharaxAsteroid, #ntharaxBlack, #ntharaxPurple, #ntharaxDistortion, #ntharaxSlap, #ntharaxHealing, #ntharaxTentacle, #ntharaxFly, #ntharaxLaser,
            /* abilities */
            #healingStar, #galacticSpike, #antennaeTentacleUpward, #laserBall, #laserBallMode2, #purpleAsteroid, #blueAsteroid, #healingBarrier, #healingBarrier1, #healingBarrier2, #healingBarrier3, #healingBarrier4,
        /* projectiles */ 
        #leafAttack, #darkLeafAttack, #windAttack, #poison_spit,  #laser_beam, #iceBall, #darkLaser, #yellowBeam, #rockProjectile, #purpleLaser, #inkBeam,
        /* goblin */
        #goblinRun, #goblinSteal, #goblinJump, 
        /* map1 */
        #abyssaw, #dotter, #vertibat, #ghobat, #skulnapSleep, #meatSoldier, #skulnapAwake, #ravengloom, #glidoSpikeFly, #glidoSpikeAttack, 
        /* map2 */
        #duskPlant, #silknoir, #walterTheGhost, #gloomlet, #dolly, #aura, #ben,
        /* map3 */
        #piranha, #skeletonFish, #spearFish, #voltzeel, #jetFish, #piperIdle, #piperExtended, #garry, 
        /* map4 */
        #sluggie, #bigGreener, #spidoLazerWalk, #spidoLazerAttack, #jerry, #chiquita, #lilHornet, #karateCrocoIdle, #karateCrocoFlyKick, #zabkousJump, #zabkousAttack, 
        /* map5 */
        #bee, #angryBee, #hangingSpidoLazer, #tauro, #snailey, #redFlyer, #purpleFlyer, #lazyMosquito, #leafSlug, #sunflora, #eggry, 
        /* map6 */
        #theRock, #theRockSmash, #dragon, #cactus, #petroPlant, #plazer, #veynoculus, #volcanurtle, #rollhogWalk, #rollhogRoll, #volcanoWasp,  
        /* bonusmap1 */
        #iceSilknoir,
    /* cabin */
    #map1cabin, #map2cabin, #map3submarine, #map4cabin, #map5cabin, #map6cabin, #map7cave, #bonusmap1cabin, #bonusmap2cabin, #bonusmap3cabin,
    /* power up */ 
    #redpotion, #bluepotion, #hourglass, #healthlive, #coin, #oxygenTank,
    /* power down */
    #iceDrink, #iceCube, #cauldron, #blackhole, #confuse, #deadSkull, #carbonDioxideTank,
    /* random power */
    #randomPower,
/* map1 */ 
#map1Background, #map1Ground, #map1Zabby1, #map1Zabby2, #map1Zabby3, #map1Rocks, #map1Bush, #map1Trees1, #map1Trees2, #map1Trees3, #map1Trees4, #map1Trees5, #map1Trees6, #map1Trees7, 
/* map2 */
#map2Background, #map2Ground, #map2Zabby1, #map2Zabby2, #map2Zabby3, #map2Zabby4, #map2BackgroundLayer1, #map2Bones1, #map2Bones2, #map2Bones3, #map2Fence, #map2Bushes1, #map2Bushes2, #map2Bushes3, #map2Bushes4, #map2WhiteMist, #map2Trees1, #map2Trees2, #map2Trees3, #map2Tombstone1, #map2Tombstone2,
/* map3 */
#map3Background, #map3Ground, #map3Zabby1, #map3Zabby2, #map3Zabby3, #map3Zabby4, #map3Zabby5, #map3BackgroundRocks, #map3seaPlants1, #map3seaPlants2, #map3seaPlants3, #map3seaPlants4, #map3seaPlants5, #map3seaPlants6, #map3seaPlants7, #map3seaPlants8, #map3seaPlants9, 
/* map4 */ 
#map4Background, #map4Ground, #map4Zabby1, #map4Zabby2, #map4Zabby3, #map4Zabby4, #map4BottomVines, #map4TopVines, #map4Trees1, #map4Trees2, #map4Trees3, #map4Trees4, 
/* map5 */ 
#map5Background, #map5Ground, #map5Zabby1, #map5Zabby2, #map5Zabby3, #map5Zabby4, #map5Flowers1, #map5Flowers2, #map5Bush1, #map5Bush2, #map5Trees1, #map5Trees2, #map5Trees3, #map5Trees4, #map5BigSunflowers1, #map5BigSunflowers2, #map5TallGrass, #map5Cattails,
/* map6 */ 
#map6Background, #map6Ground, #map6Zabby1, #map6Zabby2, #map6Zabby3, #map6Grass, #map6SmallMushrooms1, #map6SmallMushrooms2, #map6BigMushrooms, #map6DeadBranches1, #map6DeadBranches2, #map6Trees1, #map6Trees2, #map6Trees3, #map6Trees4, #map6Rocks1, #map6Rocks2, #map6GreenMist, 
/* map7 */ 
#map7Background, #map7Ground, #map7Zabby1, #map7Zabby2, #map7Zabby3, #map7Zabby4, #map7Zabby5, #map7VolcanoLayer1, #map7VolcanoLayer2, #map7VolcanoLayer3, #map7VolcanoLayer4, #map7VolcanoLayer5, #map7spikeStones, #map7rocks1, #map7rocks2, #map7rocks3, #map7rocks4, #map7cactus,
/* bonusmap1 */ 
#bonusMap1Background, #bonusMap1Ground, #bonusMap1Zabby1, #bonusMap1Zabby2, #bonusMap1Zabby3, #bonusMap1Zabby4, #bonusMap1TopIcicles, #bonusMap1IceSpikes, #bonusMap1IceRocks1, #bonusMap1IceRocks2, #bonusMap1IceRings, #bonusMap1BigIceCrystal,
/* bonusmap2 */ 
#bonusMap2Background, #bonusMap2Ground, #bonusMap2Zabby1, #bonusMap2Zabby2, #bonusMap2Zabby3, #bonusMap2Zabby4, #bonusMap2SpikeRocks, #bonusMap2RockLayer1, #bonusMap2RockLayer2, #bonusMap2RockLayer3, #bonusMap2RockLayer4, #bonusMap2RockLayer5, #bonusMap2CrypticRocks1, #bonusMap2CrypticRocks2, #bonusMap2DeadTrees, #bonusMap2RedMist,
/* bonusmap3 */ 
#bonusMap3Background, #bonusMap3Ground, #bonusMap3Zabby1, #bonusMap3Zabby2, #bonusMap3Zabby3, #bonusMap3Zabby4, #bonusMap3Zabby5, #bonusMap3Stars, #bonusMap3PurpleSpiral, #bonusMap3Nebula, #bonusMap3Planets1, #bonusMap3Planets2, #bonusMap3Planets3, #bonusMap3Planets4, #bonusMap3Planets5, #bonusMap3Planets6, 
/* secondaryImageLayers */ 
    /* fish */ 
    #jellyfish, #fish, #fish2, #fish3, #fish4, #fish5, #fish6, #fish7, #fish8, #fish9, #fish10, #fish11, #shark, #whale, 
    /* dragon */ 
    #dragonSilhouette,
    /* meteor */ 
    #meteorBackground,
    /* ink */ 
    #paint_splatter_1, #paint_splatter_2, #paint_splatter_3, #paint_splatter_4, #paint_splatter_5, #paint_splatter_6, #paint_splatter_7, #paint_splatter_8, #paint_splatter_9, 
    #paint_splatter_10, #paint_splatter_11, #paint_splatter_12, #paint_splatter_13, #paint_splatter_14, #paint_splatter_15, #paint_splatter_16, #paint_splatter_17, #paint_splatter_18,
/* collision animations */ 
#singleCoin, #collisionAnimation, #explosionCollisionAnimation, #darkExplosion, #redFireballCollision, #purpleFireballCollision, #purpleThunderCollision, #meteorExplosion, #asteroidExplosion,
#electricityCollision, #blueCollisionAnimation, #poisonSpitSplash, #poisonDropCollision, #blackInk, #inkBombCollision, #blood, #raindropSplash, #poisonDropGroundCollision,
#icyStormBallCollision, #iceSlashCollision, #iceTrailCollision, #spinningIceBallsCollision, #pointyIcicleShardCollision, #undergroundIcicleCollision, #galacticSpikeCollision, #purpleFireballCollision,
/* cutscene images */
    /* background images */
    #toBeContinued, #madeByDanial,
        /* map1 cutscene images */
            #map1blackBackground, #map1TentFireplace, #map1outsideCastleDoor, #map1KingsBedroom, #map1crypticTokenWar, #map1SafeRoom, #map1outsideLakeAndTrees, #map1crypticTokenWallpaper, 
            #cabincutscene1, #map1Lab, #map1DestroyedTree, #map1RegeneratedTree, 
        /* map2 cutscene images */
            #dreamLight1, #dreamLight2, #dreamLight3, #dreamLight4, #dreamLight5, #dreamLight6, #dreamLight7, #dreamDark1, #dreamDark2, #dreamDark3, #dreamDark4, #dreamDark5, #dreamDark6, #cabincutscene1_5, #map2outsideCabin, 
        /* map3 cutscene images */
            #map3CutsceneCabin, #map3CutsceneCabinNight, #map3OutsideCabin, #map3InsideSubmarine, #map3Sorcerer, #map3ForestRiver, 
        /* map4 cutscene images */
            #map4OutsideCabin, #map4beginningForestView, #map4footsteps, #map4CloningLab, #map4hospitalBedEmpty, #map4ElyvorgFlames, #map4EvilElyvorg, #map4CabinEndCutscene, 
        /* map5 cutscene images */
            #map5insideCabin, 
        /* map6 cutscene images */
            #map6VolcanoWalkUp, #map6insideCaveLava, #map6insideCaveLavaEarthquake, #map6insideCaveLavaEarthquakeHat, #map6insideCaveLavaEarthquakeCholo, #map6insideCaveLavaEarthquakeZabka, #map6insideCaveLavaEarthquakeShiny, #map6elyvorgTokenPlaceFind, #map6elyvorgTokenPlace, #map6elyvorgTokenPlaceActive, #map6stone, #map6stone2, #map6stone3, 
    /* normal images */
    #scrollLetterMessageGaladon, #scrollLetterMessageGaladonClosed, #crypticTokenShining, #textBox, #reminderToSkipWithTab, #enterToTalkToPenguini, 
    /* character images */
        /* firedog */
            /* default */
            #firedogHappy, #firedogLaugh, #firedogAngry, #firedogAngry2, #firedogPhew, #firedogTired, #firedogHeadache, #firedogCry, #firedogSad, 
            #firedogNormal, #firedogNormalExclamationMark, #firedogNormalQuestionMark, #firedogNormalQuestionAndExlamationMark,
            /* hat */
            #hatfiredogHappy, #hatfiredogLaugh, #hatfiredogAngry, #hatfiredogAngry2, #hatfiredogPhew, #hatfiredogTired, #hatfiredogHeadache, #hatfiredogCry, #hatfiredogSad, 
            #hatfiredogNormal, #hatfiredogNormalExclamationMark, #hatfiredogNormalQuestionMark, #hatfiredogNormalQuestionAndExlamationMark,
            /* cholo */
            #cholofiredogHappy, #cholofiredogLaugh, #cholofiredogAngry, #cholofiredogAngry2, #cholofiredogPhew, #cholofiredogTired, #cholofiredogHeadache, #cholofiredogCry, #cholofiredogSad, 
            #cholofiredogNormal, #cholofiredogNormalExclamationMark, #cholofiredogNormalQuestionMark, #cholofiredogNormalQuestionAndExlamationMark,
            /* zabka */
            #zabkafiredogHappy, #zabkafiredogLaugh, #zabkafiredogAngry, #zabkafiredogAngry2, #zabkafiredogPhew, #zabkafiredogTired, #zabkafiredogHeadache, #zabkafiredogCry, #zabkafiredogSad, 
            #zabkafiredogNormal, #zabkafiredogNormalExclamationMark, #zabkafiredogNormalQuestionMark, #zabkafiredogNormalQuestionAndExlamationMark,
            /* shiny */
            #shinyfiredogHappy, #shinyfiredogLaugh, #shinyfiredogAngry, #shinyfiredogAngry2, #shinyfiredogPhew, #shinyfiredogTired, #shinyfiredogHeadache, #shinyfiredogCry, #shinyfiredogSad, 
            #shinyfiredogNormal, #shinyfiredogNormalExclamationMark, #shinyfiredogNormalQuestionMark, #shinyfiredogNormalQuestionAndExlamationMark,
        /* galadon */
        #galadonNormal, #galadonSad, #galadonAmazed, #galadonHurt, #galadonScaredHurt, #galadonOh, #galadonSurprised, #galadonScared, 
        /* quilzorin */
        #quilzorinExplaining, #quilzorinExplaining2, #quilzorinHandUp, #quilzorinLaugh, #quilzorinNormal, #quilzorinScared, #quilzorinSurprised, 
        /* valdorin */
        #valdorinCrossedArms, #valdorinFistUp, #valdorinNormal, #valdorinSurprised, #ValdorinTalking,
        /* duskmaw */
        #duskmawLaugh, #duskmawLiftingHat, #duskmawLiftingHat2, #duskmawNormal, 
        /* zephyrion */
        #zephyrionDistraught, #zephyrionEyesClosed, #zephyrionHappy, #zephyrionNormal, #zephyrionSurprised, 
        /* penguini */
        #penguinBatLaugh, #penguinBatTalkNormal, #penguinBatUp, #penguinGunLaugh, #penguinGunTalkNormal, #penguinGunUp, 
    /* border images */
        /* firedog */
            /* default */
            #firedogHappyBorder, #firedogLaughBorder, #firedogAngryBorder, #firedogAngry2Border, #firedogPhewBorder, #firedogTiredBorder, #firedogHeadacheBorder, #firedogCryBorder, #firedogSadBorder, 
            #firedogNormalBorder, #firedogNormalExclamationMarkBorder, #firedogNormalQuestionMarkBorder, #firedogNormalQuestionAndExlamationMarkBorder,
            /* hat */
            #hatfiredogHappyBorder, #hatfiredogLaughBorder, #hatfiredogAngryBorder, #hatfiredogAngry2Border, #hatfiredogPhewBorder, #hatfiredogTiredBorder, #hatfiredogHeadacheBorder, #hatfiredogCryBorder, #hatfiredogSadBorder, 
            #hatfiredogNormalBorder, #hatfiredogNormalExclamationMarkBorder, #hatfiredogNormalQuestionMarkBorder, #hatfiredogNormalQuestionAndExlamationMarkBorder,
            /* cholo */
            #cholofiredogHappyBorder, #cholofiredogLaughBorder, #cholofiredogAngryBorder, #cholofiredogAngry2Border, #cholofiredogPhewBorder, #cholofiredogTiredBorder, #cholofiredogHeadacheBorder, #cholofiredogCryBorder, #cholofiredogSadBorder, 
            #cholofiredogNormalBorder, #cholofiredogNormalExclamationMarkBorder, #cholofiredogNormalQuestionMarkBorder, #cholofiredogNormalQuestionAndExlamationMarkBorder,
            /* zabka */
            #zabkafiredogHappyBorder, #zabkafiredogLaughBorder, #zabkafiredogAngryBorder, #zabkafiredogAngry2Border, #zabkafiredogPhewBorder, #zabkafiredogTiredBorder, #zabkafiredogHeadacheBorder, #zabkafiredogCryBorder, #zabkafiredogSadBorder, 
            #zabkafiredogNormalBorder, #zabkafiredogNormalExclamationMarkBorder, #zabkafiredogNormalQuestionMarkBorder, #zabkafiredogNormalQuestionAndExlamationMarkBorder,
            /* shiny */
            #shinyfiredogHappyBorder, #shinyfiredogLaughBorder, #shinyfiredogAngryBorder, #shinyfiredogAngry2Border, #shinyfiredogPhewBorder, #shinyfiredogTiredBorder, #shinyfiredogHeadacheBorder, #shinyfiredogCryBorder, #shinyfiredogSadBorder, 
            #shinyfiredogNormalBorder, #shinyfiredogNormalExclamationMarkBorder, #shinyfiredogNormalQuestionMarkBorder, #shinyfiredogNormalQuestionAndExlamationMarkBorder,
        /* penguin */
        #penguinBatLaughBorder, #penguinBatTalkNormalBorder, #penguinBatUpBorder, #penguinGunLaughBorder, #penguinGunTalkNormalBorder, #penguinGunUpBorder, #penguinOnFloorBorder,
        /* elyvorg */
        #elyvorgBorder, #elyvorgTokenBorder,
        /* glacikal */
        #glacikalBorder,
        /* ntharax */
        #ntharaxBorder
{
    display: none;
}